@media print {
  body * {
    visibility: hidden !important;
  }

  .printable-receipt,
  .printable-receipt * {
    visibility: visible !important;
  }

  .printable-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 57mm;
    font-size: 12px;
  }
}
