*{
    margin: 0;
    padding: 0;
    
}
.main-container{
    width: 100%;
    background-color: rgb(194, 147, 76);
    padding: 1rem;
    max-width: 380px;
}

.page-title{
    background-color: blueviolet;
}

.form-container{
    background-color: blue;
    width: 100%;
}
table{
 border-collapse: collapse;
   border: 1px solid black;
  width: 100%;
  font-size: x-small;
  margin: 1rem 0;
}

table, th, td {
  border: 1px solid black; /* Sets thickness, style, and color */
}

td{
    padding: .20rem;
      overflow-wrap: anywhere;
}

input,
select {
  width: 100%;
  box-sizing: border-box;
  font-size: x-small;
}

.status{
    font-size: xx-small;
}
/* ================================
   NEXT SNACK VOLUNTEER CARD
================================ */

/* ================================
   NEXT SNACK VOLUNTEER
================================ */

