*{
    margin: 0;
    padding: 0;
    
}
.main-container{
    width: 100%;
    background-color: rgb(194, 147, 76);
    padding: 1rem .50rem;
    max-width: 380px;
}



.form-container{
    
    width: 100%;
}
table{
 border-collapse: collapse;
   border: 1px solid black;
  width: 100%;
 
  margin: 2rem 0;
}

table, th, td {
  border: 1px solid black; /* Sets thickness, style, and color */
}

td{
    padding: .10rem;
      overflow-wrap: anywhere;
}

input,
select {
  width: 100%;
  box-sizing: border-box;
  
}



/* ================================
   NEXT SNACK VOLUNTEER CARD
================================ */

/* ================================
   NEXT SNACK VOLUNTEER
================================ */

